.card_style{
  margin-top: 30px;
}
.item_style{
  border: 1px solid red;
}
.card_item{
  width: 21rem;
  height:27rem;
  border:2px solid black;
}
.card_item a{
  color: lightblue;
}
.card_item a:hover{
  color: blue;
  cursor: pointer;
}
.img_style{
  width:310px;
  height:200px;
  margin-left: 10px;
  padding: 10px;
}
.btn_add{
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  margin: 5px;
}
.btn_style{
  margin-top: 14px;
  margin-bottom: -11px;
  margin-left: 174px;
}
.row_style{
  margin-left: 794px;
  margin-bottom: -26px;
  margin-top: -36px;
}
.btn-style label{
  margin-left: -170px;
}
.btn-style select{
  margin-left: 10px;
}